body{
    background: #353866;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .action-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 9999px;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .backdrop::before {
    content: "";
    position: absolute;
    height: 115rem;
    width: 115rem;
    border-radius: 9999px;
    background: #ED6B06;
  }
  .backdrop::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    border-radius: 9999px;
    z-index: 1;
  }
  
  .action {
    --sz-light-hover: 60px;
    --rd-light-hover: 9999px;
    --l-light-hover: 14px;
    --cl-light: #0000;
    --cr-light: #ED6B06;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      transform,
      color,
      background-color,
      300ms ease;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    color: #444444;
    background: none transparent;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 9999px;
  }
  
  .action-icon {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 0.5rem;
    border-radius: 9999px;
    background-color: #f1f1f1;
    transition:
      transform,
      color,
      background,
      300ms ease;
  }
  
  .action-content {
    --sz-light-hover: 100px;
    --rd-light-hover: 6px;
    --l-light-hover: 0px;
    --cl-light: #fff;
    --cr-light:#ED6B06;
    transition:
      transform,
      400ms ease;
    opacity: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: inherit;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: max-content;
    height: 1.75rem;
    padding: 8px 1px;
    position: absolute;
    left: 0;
    z-index: -1;
    border: 1px solid #ccc;
  }
  
  .action-content::before {
    content: attr(data-content);
    transition:
      transform,
      300ms ease;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    z-index: 1;
    transform: translateX(-100%);
    background-color: #fff;
    border-radius: calc(var(--rd-light-hover) - 2px);
    padding-inline: 4px;
  }
  
  .action::after,
  .action-content::after {
    content: "";
    opacity: 0;
    position: absolute;
    border-radius: var(--rd-light-hover);
    transition: all 50ms ease 200ms;
    background: conic-gradient(
      from 45deg at 50% 50%,
      var(--cl-light),
      var(--cr-light),
      var(--cl-light),
      var(--cl-light),
      var(--cl-light),
      var(--cr-light),
      var(--cl-light),
      var(--cl-light),
      var(--cl-light)
    );
  }
  
  .action:hover .action-icon {
    color: #000;
    background-color: #fff;
    transform: scale(1.4) translate3d(12px, 0px, 12px);
  }
  
  .action:hover::after,
  .action-content::after {
    height: var(--sz-light-hover);
    width: var(--sz-light-hover);
    left: var(--l-light-hover);
    opacity: 1;
    animation: rotate 4s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  .action:hover .action-content {
    color: #000;
    background-color: #fff;
    opacity: 1;
    width: max-content;
    left: calc(100% + 24px);
    z-index: 9;
  }
  
  .action:hover .action-content::before {
    transform: translateX(0px);
  }

  /* Diseño del titulo publicaciones */

  .titulo-publicaciones {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    color: white;
    padding-top: 12px;
    padding-left: 330px;
    padding-right: 160px;
  }

  /* Diseño del boton nueva publicacion */

  .button-publicaciones {
    margin-top: 10px;
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 1em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: white;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }

  .button-publicaciones span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #ED6B06;
  }

  .button-publicaciones span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 1s;
  }

  .button-publicaciones:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #ED6B06;
  }

  .button-publicaciones:hover {
    color: white;
  }

  .button-publicaciones:active span::before {
    background: #ED6B06;
  }

  /* Diseño del buscador */

  .search-panels-filtro {
    --default-color: #9e9e9e;
    --color-text: white;
    --color-active: #ED6B06;
    --color-active-input: #f5f5f5;
    --transition: 1000ms cubic-bezier(0.4,0,0.2,1);
    --width-input: 400px;
    --height-input: 50px;
  }
  
  .search-panels-filtro .search-group {
    position: relative;
  }
  
  .input {
    width: var(--width-input);
    height: var(--height-input);
    border: solid 1.5px var(--default-color);
    border-radius: 80px;
    background: none;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1rem;
    color: var(--color-active-input);
    transition: border var(--transition);
  }
  
  .enter-label {
    position: absolute;
    left: 20px;
    color: var(--default-color);
    pointer-events: none;
    transform: translateY(0.7rem);
    transition: var(--transition);
  }
  
  .enter-label {
    color: var(--default-color);
    pointer-events: none;
  }
  
  .input:focus, input:valid {
    outline: none;
    border: 1.5px solid var(--color-active);
  }
  
  .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: var(--color-active);
    border-radius: 20px;
    padding: .2em .6em;
    color: var(--color-text);
  }
  
  .btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1em;
    right: 80%;
    border-radius: 100%;
    transition: 300ms cubic-bezier(0.4,0,0.2,1);
    transition-delay: 100ms;
    opacity: 0;
  }
  
  .input:focus ~ .btn-box, input:valid ~ .btn-box {
    right: 10%;
    opacity: 1;
    transition-delay: 0s;
    transition: var(--transition);
  }
  
  .input:not(:focus) ~ .btn-box, input:not(:valid) ~ .btn-box {
    transition-property: right, opacity;
    transition-delay: 300ms;
  }
  
  .input:focus ~ .btn-box:hover, input:valid ~ .btn-box:hover {
    transform: scale(1.2);
  }
  
  .input:focus ~ .btn-box:hover:active, input:valid ~ .btn-box:hover:active {
    transform: scale(1);
  }
  
  .btn-search {
    position: relative;
    cursor: pointer;
    background-color: var(--color-active);
    width: 2em;
    height: 2em;
    top: 2.5px;
    border: none;
    border-radius: 100%;
    padding: 0;
    transition: var(--transition);
  }
  
  .btn-search:active {
    transform: scale(1);
  }
  
  .btn-search svg {
    position: absolute;
    top: 25%;
    left: 25%;
    fill: var(--color-text);
    width: 12px;
    height: 12px;
  }
  
  #svg-circle {
    fill: var(--color-text);
    transition: var(--transition);
  }
  
  .input:focus ~ .btn-box:hover #svg-circle, input:valid ~ .btn-box:hover #svg-circle {
    fill: transparent;
  }
  
  .btn-box-x {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1em;
    right: 7%;
    opacity: 0;
    transform: rotate(-90deg) scale(.1);
    transition: var(--transition);
  }
  
  .input:focus ~ .btn-box-x, input:valid ~ .btn-box-x {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  
  .btn-cleare {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 100%;
    padding: 0;
    transition: var(--transition);
  }
  
  .btn-cleare svg {
    width: 15px;
    height: 15px;
  }
  
  #cleare-line {
    fill: var(--default-color);
  }
  
  .btn-box-x:hover #cleare-line {
    fill: var(--color-active);
  }

  /* Diseño de los articulos */

  .resultados {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .titulos-resultados {
    color: #353866;
  }

  .textos-resultados {
    color: black;
  }

  .articulos {
    background: #C8C8C8; 
    width: 100%;
    height: 70px;
    border-radius: 10px;
    transition: height 1s ease-in-out;
    overflow: hidden;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .articulos.expanded {
    transition: 1s;
    height: 370px;
  }

  .icono-expandir-articulo {
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
  }

  .articulos.expanded .icono-expandir-articulo {
    transform: rotate(180deg);
  }

  .expandir-contraer .icono-expandir-articluo:hover {
    color: white;
  }

  .articulos.expanded .fecha-articulo {
    height: 20%;
  }

  .fecha-articulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .articulos.expanded .categoria-articulo {
    height: 20%;
  }

  .categoria-articulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .articulos.expanded .tema-articulo {
    height: 20%;
  }

  .tema-articulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .articulos.expanded .expandir-contraer {
    height: 20%;
  }

  .articulos.expanded .editar-articulo {
    height: 20%;
  }

  /*Modal*/
.modal-publicaciones {
  background-color:white;
  }
  .fixed.inset-0 {
    background-color: rgba(128, 128, 128, 0.5);
    }
  
  /*Fecha*/
  .input-fecha {
    background-color: transparent;
    outline: none;
    border: 2px solid #ED6B06 !important;
    color: #000000;
    font-size: 13px;
    border-radius: 8px; 
    padding: 3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
  }
  
  /*Tema*/
  .input-tema {
    background-color: transparent;
    outline: none;
    border: 2px solid #ED6B06 !important;
    color: #000000;
    font-size: 13px;
    border-radius: 8px; 
    padding: 3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
  }
  
  /*Descripcion*/
  .input-descripcion {
    background-color: transparent;
    outline: none;
    border: 2px solid #ED6B06 !important;
    color: #000000;
    font-size: 13px;
    border-radius: 8px; 
    padding: 3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
  }
  
  /*Palabras claves*/
  .input-palabra {
    background-color: transparent;
    outline: none;
    border: 2px solid #ED6B06 !important;
    color: #000000;
    font-size: 13px;
    border-radius: 8px; 
    padding: 3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
  }
  
  /*URL*/
  .input-url {
    background-color: transparent;
    outline: none;
    border: 2px solid #ED6B06 !important;
    color: #000000;
    font-size: 13px;
    border-radius: 8px; 
    padding: 3px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none; 
  }
  
  /*Subir archivos*/
  .container {
    --transition: 350ms;
    --folder-W: 120px;
    --folder-H: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    background: #ED6B06;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: calc(var(--folder-H) * 1.7);
    position: relative;
    margin-top: 50px;
  }
  
  .folder {
    position: absolute;
    top: -10px;
    left: calc(50% - 60px);
    animation: float 2.5s infinite ease-in-out;
    transition: transform var(--transition) ease;
  }
  
  .folder:hover {
    transform: scale(1.05);
  }
  
  .folder .front-side,
  .folder .back-side {
    position: absolute;
    transition: transform var(--transition);
    transform-origin: bottom center;
  }
  
  .folder .back-side::before,
  .folder .back-side::after {
    content: "";
    display: block;
    background-color: white;
    opacity: 0.5;
    z-index: 0;
    width: var(--folder-W);
    height: var(--folder-H);
    position: absolute;
    transform-origin: bottom center;
    border-radius: 15px;
    transition: transform 350ms;
    z-index: 0;
  }
  
  .container:hover .back-side::before {
    transform: rotateX(-5deg) skewX(5deg);
  }
  .container:hover .back-side::after {
    transform: rotateX(-15deg) skewX(12deg);
  }
  
  .folder .front-side {
    z-index: 1;
  }
  
  .container:hover .front-side {
    transform: rotateX(-40deg) skewX(15deg);
  }
  
  .folder .tip {
    background: linear-gradient(135deg, #ff9a56, #ff6f56);
    width: 80px;
    height: 20px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -10px;
    z-index: 2;
  }
  
  .folder .cover {
    background: linear-gradient(135deg, #ffe563, #ffc663);
    width: var(--folder-W);
    height: var(--folder-H);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .custom-file-upload {
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background var(--transition) ease;
    display: inline-block;
    width: 100%;
    padding: 10px 35px;
    position: relative;
  }
  
  .custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  
  .custom-file-upload input[type="file"] {
    display: none;
  }
  .documento{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
  
  /*Categoria*/
  .main > .inp {
    display: none;
  }
  .main {
    font-weight: 100;
    font-size: 13px;
    color: white;
    background-color: #ED6B06;
    padding: 3px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 12rem;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
  }
  
  .arrow {
    height: 34%;
    aspect-ratio: 1;
    margin-block: auto;
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
  }
  
  .arrow::after,
  .arrow::before {
    content: "";
    position: absolute;
    background-color: white;
    height: 100%;
    width: 2.5px;
    border-radius: 500px;
    transform-origin: bottom;
  }
  
  .arrow::after {
    transform: rotate(35deg) translateX(-0.5px);
  }
  .arrow::before {
    transform: rotate(-35deg) translateX(0.5px);
  }
  
  .main > .inp:checked + .arrow {
    transform: rotateX(180deg);
  }
  
  .menu-container {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 130%;
    overflow: hidden;
    z-index: 10;
  }
  
  .menu-scroll {
    max-height: 160px; /* Height for approximately 4 items */
    overflow-y: auto;
    /* Custom scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: #ED6B06 #D9D9D9;
  }
  
  .menu-scroll::-webkit-scrollbar {
    width: 6px;
  }
  
  .menu-scroll::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 0 10px 10px 0;
  }
  
  .menu-scroll::-webkit-scrollbar-thumb {
    background-color: #ED6B06;
    border-radius: 10px;
  }
  
  .menu-list {
    padding: 8px 10px;
    border-radius: inherit;
    transition: background-color 0.2s;
    position: relative;
  }
  
  .menu-list::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 95%;
  }
  
  .menu-list:last-child::after {
    display: none;
  }
  
  .menu-list:hover {
    background-color: #ED6B06;
    color: white;
  }
  
  .bar {
    display: flex;
    height: 50%;
    width: 20px;
    flex-direction: column;
    gap: 3px;
  }
  
  .bar-list {
    --transform: -25%;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.4s;
    position: relative;
  }
  
  /*Botones de guardar y cancelar */
  .cancelar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ED6B06;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .cancelar:hover {
    background-color: #353866;
    color: #fff;
  }
  .guardar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ED6B06;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .guardar:hover {
    background-color: #353866;
    color: #fff;
  }
  
  /*Documentos subidos*/
  .file-display-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 10px;
  }
  
  .file-item {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border: 1px solid  #D9D9D9;
    border-radius: 8px;
    padding: 6px 10px;
    width: calc(105% - 10px);
    overflow: hidden;
  margin-top: 10px;
   
    
  }
  
  .file-icon {
    color: #ED6B06;
    margin-right: 8px;
    flex-shrink: 0;
  }
  
  .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    flex-grow: 1;
  }
  
  .file-remove {
    color: #353866;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: 6px;
    flex-shrink: 0;
  }
  
  .file-remove:hover {
    color: #353866;
  }

  /* Diseño Modal Editar Publicacion */

  /*Modal*/
.modal-editar {
  background-color: white;
}
.fixed.inset-0 {
  background-color: rgba(128, 128, 128, 0.5);
}

/*Fecha*/
.editar-fecha {
  background-color: transparent;
  outline: none;
  border: 2px solid #ED6B06 !important;
  color: #000000;
  font-size: 13px;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

/*Tema*/
.editar-tema {
  background-color: transparent;
  outline: none;
  border: 2px solid #ED6B06 !important;
  color: #000000;
  font-size: 13px;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

/*Descripcion*/
.input-descripcion {
  background-color: transparent;
  outline: none;
  border: 2px solid #ED6B06 !important;
  color: #000000;
  font-size: 13px;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

/*Palabras claves*/
.editar-palabra {
  background-color: transparent;
  outline: none;
  border: 2px solid #ED6B06 !important;
  color: #000000;
  font-size: 13px;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}

/*URL*/
.editar-url {
  background-color: transparent;
  outline: none;
  border: 2px solid #ED6B06 !important;
  color: #000000;
  font-size: 13px;
  border-radius: 8px;
  padding: 3px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
}


/*Categoria*/
.main-editar>.inp {
  display: none;
}

.main-editar {
  font-weight: 100;
  font-size: 13px;
  color: white;
  background-color: #ED6B06;
  padding: 3px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 2.5rem;
  width: 12rem;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
}

.arrow {
  height: 34%;
  aspect-ratio: 1;
  margin-block: auto;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 100%;
  width: 2.5px;
  border-radius: 500px;
  transform-origin: bottom;
}

.arrow::after {
  transform: rotate(35deg) translateX(-0.5px);
}

.arrow::before {
  transform: rotate(-35deg) translateX(0.5px);
}

.main-editar>.inp:checked+.arrow {
  transform: rotateX(180deg);
}

.menu-categoria {
  background-color: #D9D9D9;
  color: #000000;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  overflow: hidden;
  z-index: 10;
}

.menu-editar {
  max-height: 160px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ED6B06 #D9D9D9;
}

.menu-editar::-webkit-scrollbar {
  width: 6px;
}

.menu-editar::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 0 10px 10px 0;
}

.menu-editar::-webkit-scrollbar-thumb {
  background-color: #ED6B06;
  border-radius: 10px;
}

.lista-categoria {
  padding: 8px 10px;
  border-radius: inherit;
  transition: background-color 0.2s;
  position: relative;
}

.lista-categoria::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 95%;
}

.lista-categoria:last-child::after {
  display: none;
}

.lista-categoria:hover {
  background-color: #ED6B06;
  color: white;
}

.bar {
  display: flex;
  height: 50%;
  width: 20px;
  flex-direction: column;
  gap: 3px;
}

.bar-list {
  --transform: -25%;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: white;
  transition: all 0.4s;
  position: relative;
}

/*Botones de guardar y cancelar */
.cancelar-editar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ED6B06;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.cancelar-editar:hover {
  background-color: #353866;
  color: #fff;
}

.guardar-editar {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ED6B06;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.guardar-editar:hover {
  background-color: #353866;
  color: #fff;
}

/*Documentos subidos*/
.file-display-editar {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
}

.item-editar {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 6px 10px;
  width: calc(105% - 10px);
  overflow: hidden;
  margin-top: 10px;


}

.icon-documento {
  color: #ED6B06;
  margin-right: 8px;
  flex-shrink: 0;
}

.name-documento {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  flex-grow: 1;
}

.eliminar-documento {
  color: #353866;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  margin-left: 6px;
  flex-shrink: 0;
}

.eliminar-documento:hover {
  color: #353866;
}

/*Boton de público o privado*/

.dropdown-options {
  position: absolute;
  width: 180px;
  height: 100px;
  margin-top: 14%;
  margin-left: 74%;
  z-index: 1000;
}

.dropdown-options button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border-radius: 100px;
}

.dropdown-options button:hover {
  color: #353866;
}