body{
    background: #353866;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .action-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 9999px;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .backdrop::before {
    content: "";
    position: absolute;
    height: 115rem;
    width: 115rem;
    border-radius: 9999px;
    background: #ED6B06;
  }
  .backdrop::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8px);
    border-radius: 9999px;
    z-index: 1;
  }
  
  .action {
    --sz-light-hover: 60px;
    --rd-light-hover: 9999px;
    --l-light-hover: 14px;
    --cl-light: #0000;
    --cr-light: #ED6B06;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      transform,
      color,
      background-color,
      300ms ease;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    color: #444444;
    background: none transparent;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 9999px;
  }
  
  .action-icon {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 0.5rem;
    border-radius: 9999px;
    background-color: #f1f1f1;
    transition:
      transform,
      color,
      background,
      300ms ease;
  }
  
  .action-content {
    --sz-light-hover: 100px;
    --rd-light-hover: 6px;
    --l-light-hover: 0px;
    --cl-light: #fff;
    --cr-light:#ED6B06;
    transition:
      transform,
      400ms ease;
    opacity: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: inherit;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: max-content;
    height: 1.75rem;
    padding: 8px 1px;
    position: absolute;
    left: 0;
    z-index: -1;
    border: 1px solid #ccc;
  }
  
  .action-content::before {
    content: attr(data-content);
    transition:
      transform,
      300ms ease;
    text-transform: capitalize;
    font-size: medium;
    font-weight: 600;
    z-index: 1;
    transform: translateX(-100%);
    background-color: #fff;
    border-radius: calc(var(--rd-light-hover) - 2px);
    padding-inline: 4px;
  }
  
  .action::after,
  .action-content::after {
    content: "";
    opacity: 0;
    position: absolute;
    border-radius: var(--rd-light-hover);
    transition: all 50ms ease 200ms;
    background: conic-gradient(
      from 45deg at 50% 50%,
      var(--cl-light),
      var(--cr-light),
      var(--cl-light),
      var(--cl-light),
      var(--cl-light),
      var(--cr-light),
      var(--cl-light),
      var(--cl-light),
      var(--cl-light)
    );
  }
  
  .action:hover .action-icon {
    color: #000;
    background-color: #fff;
    transform: scale(1.4) translate3d(12px, 0px, 12px);
  }
  
  .action:hover::after,
  .action-content::after {
    height: var(--sz-light-hover);
    width: var(--sz-light-hover);
    left: var(--l-light-hover);
    opacity: 1;
    animation: rotate 4s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
  .action:hover .action-content {
    color: #000;
    background-color: #fff;
    opacity: 1;
    width: max-content;
    left: calc(100% + 24px);
    z-index: 9;
  }
  
  .action:hover .action-content::before {
    transform: translateX(0px);
  }
  
  
  /* Diseño de titulo */
  
  #titulo {
      color: white;
      font-size: 2.5em;
      padding-top: 15px;
      padding-left: 370px;
      text-align: center;    
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    
  /* Diseño del buscador */

.buscador_interno {
  --default-color: #9e9e9e;
  --color-text: white;
  --color-active: #ED6B06;
  --color-active-input: #f5f5f5;
  --transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  --width-input: 400px;
  --height-input: 50px;
}

.search-panels-filtro .search-group {
  position: relative;
}

.input {
  width: var(--width-input);
  height: var(--height-input);
  border: solid 1.5px var(--default-color);
  border-radius: 80px;
  background: none;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
  color: var(--color-active-input);
  transition: border var(--transition);
}

.enter-label {
  position: absolute;
  left: 20px;
  color: var(--default-color);
  pointer-events: none;
  transform: translateY(0.7rem);
  transition: var(--transition);
}

.enter-label {
  color: var(--default-color);
  pointer-events: none;
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--color-active);
}

.input:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--color-active);
  border-radius: 20px;
  padding: .2em .6em;
  color: var(--color-text);
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1em;
  right: 80%;
  border-radius: 100%;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
  opacity: 0;
}

.input:focus~.btn-box,
input:valid~.btn-box {
  right: 10%;
  opacity: 1;
  transition-delay: 0s;
  transition: var(--transition);
}

.input:not(:focus)~.btn-box,
input:not(:valid)~.btn-box {
  transition-property: right, opacity;
  transition-delay: 300ms;
}

.input:focus~.btn-box:hover,
input:valid~.btn-box:hover {
  transform: scale(1.2);
}

.input:focus~.btn-box:hover:active,
input:valid~.btn-box:hover:active {
  transform: scale(1);
}

.btn-search {
  position: relative;
  cursor: pointer;
  background-color: var(--color-active);
  width: 2em;
  height: 2em;
  top: 2.5px;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-search:active {
  transform: scale(1);
}

.btn-search svg {
  position: absolute;
  top: 25%;
  left: 25%;
  fill: var(--color-text);
  width: 12px;
  height: 12px;
}

#svg-circle {
  fill: var(--color-text);
  transition: var(--transition);
}

.input:focus~.btn-box:hover #svg-circle,
input:valid~.btn-box:hover #svg-circle {
  fill: transparent;
}

.btn-box-x {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 7%;
  opacity: 0;
  transform: rotate(-90deg) scale(.1);
  transition: var(--transition);
}

.input:focus~.btn-box-x,
input:valid~.btn-box-x {
  opacity: 1;
  transform: rotate(0) scale(1);
}

.btn-cleare {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 100%;
  padding: 0;
  transition: var(--transition);
}

.btn-cleare svg {
  width: 15px;
  height: 15px;
}

#cleare-line {
  fill: var(--default-color);
}

.btn-box-x:hover #cleare-line {
  fill: var(--color-active);
}

/* Diseño del filtro */

.filter-uf {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s;
  background: white;
}

.filter-uf svg {
  height: 16px;
  fill: #353866;
  transition: all 0.3s;
}

.filter-uf:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
  background-color: #ED6B06;
  border: 2px solid #ED6B06;
}

.filter-uf:hover svg {
  fill: white;
}

/* Diseño del boton preguntas frecuentes */

button.pf-uf {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #ED6B06;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.pf-uf:hover {
  background: #ED6B06;
  box-shadow: 0 0 30px 5px #ED6B06;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button.pf-uf:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button.pf-uf::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button.pf-uf:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/*Resultador*/

.resultados-final {
  padding: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulos-resultados-final {
  color: #353866;
}

.textos-resultados-final {
  color: black;
}

.articulos-finales {
  background: #C8C8C8;
  width: 100%;
  height: 70px;
  border-radius: 10px;
  transition: height 1s ease-in-out;
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 10px;
}

.articulos-finales.expanded {
  transition: 1s;
  height: 370px;
}

.icono-final {
  transform: rotate(0deg);
  transition: transform 1s ease-in-out;
}

.articulos-finales.expanded .icono-final {
  transform: rotate(180deg);
}

.expandir-contraer .icono-expandir-articluo:hover {
  color: white;
}

.articulos-proivados.expanded .fecha-final {
  height: 20%;
}

.fecha-final {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articulos-finales.expanded .categoria-final {
  height: 20%;
}

.categoria-final {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articulos-finales.expanded .tema-final {
  height: 20%;
}

.tema-final {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.articulos-finales.expanded .expandir-contraer {
  height: 20%;
}

.articulos-finales.expanded .copiar-articulo {
  height: 20%;
}

/*Calificar*/
input[id^="heart-"] {
  display: none;
}

.like-button {
  position: relative;
  cursor: pointer;
  display: flex;
  height: 40px;
  width: 150px;
  border-radius: 16px;
  border: none;
  background-color: #1d1d1d;
  overflow: hidden;
  box-shadow:
    inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    4px 4px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 8px rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}

.like {
  width: 70%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

.like-icon {
  fill: #505050;
  height: 28px;
  width: 28px;
}

.like-text {
  color: #fcfcfc;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.like-count {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717070;
  font-size: 16px;
  border-left: 2px solid #4e4e4e;
  transition: all 0.5s ease-out;
}

.on:checked~.like .like-icon {
  fill: #fc4e4e;
  animation: enlarge 0.2s ease-out 1;
  transition: all 0.2s ease-out;
}

.on:checked~.like-count.two {
  transform: translateX(0);
  color: #fcfcfc;
}

.on:checked~.like-count.one {
  transform: translateY(-40px);
}

@keyframes enlarge {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.2);
  }
}

/* Diseño del modal del filtro */

.modal-overlay-uf {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-uf {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  width: 500px;
  height: 500px;
}

.titulo-filtro-uf {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #353866;
}

.resumir-filtro-uf {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #353866;
}

/* Diseño de options del fitro */

.filter-switch-uf {
  border: 2px solid #ED6B06;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: 400px;
  overflow: hidden;
}

.filter-switch-uf input {
  display: none;
  text-align: center;
}

.filter-switch-uf label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 18px;
  margin-top: 35px;
}

.filter-switch-uf .background-uf {
  position: absolute;
  width: 30%;
  height: 28px;
  background-color: #ED6B06;
  top: 4px;
  left: 4px;
  border-radius: 30px;
  transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#option2-uf:checked ~ .background-uf {
  left: 35%;
}

#option3-uf:checked ~ .background-uf {
  left: 69%;
}

#option1-uf:checked + label[for="option1-uf"] {
  color: white;
  font-weight: bold;
}

#option2-uf:checked + label[for="option2-uf"] {
  color: white;
  font-weight: bold;
}

#option3-uf:checked + label[for="option3-uf"] {
  color: white;
  font-weight: bold;
}

#option1-uf:not(:checked) + label[for="option1-uf"],
#option2-uf:not(:checked) + label[for="option2-uf"],
#option3-uf:not(:checked) + label[for="option3-uf"] {
  color: black;
}

/* Titulo areas uf */

.uf-titulo-areas {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #353866;
}